{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_title %}Pages{% endblock %}
{% block header_breadcrumb %}{% endblock %}


{% block header_top_right %}
    {% set baseroute = get_baseroute() %}
    {% if page and route_exists(baseroute ~ '_index')  %}
        <a href="{{ path(baseroute ~ '_index', {type: page.type}) }}" class="btn btn-small btn-default me-3">
            <i class="fas fa-list me-2"></i> Liste
        </a>
    {% endif %}
    {% if app.request.get('_route') != baseroute ~ '_new' and route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new', {'type': page.type}) }}" class="btn btn-small btn-primary">
            <i class="fas fa-plus me-2"></i> Créer
        </a>
    {% endif %}
{% endblock %}
