
/**** BLOCK BILLETTERIE *****/

.box-ticket {
    font-size: 16px;
    line-height: 1.1;
    text-transform: uppercase;
    height: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
}
.box-ticket .ticket-card {
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box-ticket .info {
    font-size: 20px;
    opacity: 0.8;
    top: 10px;
    right: 10px;
}

.box-ticket .label {
    display: inline-block;
    font-family: canvas-inline, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
    padding: 5px 10px 2px 10px;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    background-color: rgba(255,255,255,0.3);
}
.box-ticket .before-title {
    margin-bottom: 3px;
}
.box-ticket .title {
    font-family: forevs, sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
}
.box-ticket .after-title {
    font-weight: 700;
    margin-top: 3px;
}
.box-ticket .before-price,
.box-ticket .after-price {
    font-size: 14px;
    margin: 0;
}
.box-ticket .price {
    font-weight: 800;
    font-size: 44px;
    margin: 0;
}
.pb-ticket-preview .uk-button-default {
    display: inline-block;
    margin: auto auto 0 auto;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: polymath-display, sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
}

.box-ticket.unavailable {
    opacity: 0.5;
}

.pb-ticket-preview.primary .ticket-card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.pb-ticket-preview.fourth .ticket-card {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.pb-ticket-preview.fourth .ticket-card button {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.pb-ticket-preview.secondary .ticket-card {
    background-color: var(--primary-color-xdark);
    color: var(--secondary-color);
}

.pb-ticket-preview.third .ticket-card {
    background-color: var(--third-color);
    color: var(--primary-color);
}

.pb-ticket-preview.third  .uk-button-default {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
