<div class="card">

    <div class="card-body">

        {# Contenu onglet Bibliothèque #}
        <div class="pb-panel" data-panel="library" data-page-builder-target="panel">

            <section class="pb-section" data-page-builder-target="inspectorPanelDefault">
                <div class="pb-section-body pb-section-body--stack">
                </div>
            </section>

        </div>

        {% include '@AropixelPage/custom/_inspector.html.twig' %}

    </div>
</div>
