<div class="tab-pane pt-0 pb-0 fade show active" id="nav-template" role="tabpanel" aria-labelledby="nav-template-tab">
    <div class="row g-2">
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="hero"
                    data-action="click->page-builder#addBlockFromLibrary"
                    title="Titre, texte et bouton">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line mb-2"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="split"
                    data-action="click->page-builder#addBlockFromLibrary"
                    title="Image et texte">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 50 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 50 1 0;">
                        <div class="pb-title-line mb-2"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="slider"
                    data-action="click->page-builder#addBlockFromLibrary"
                    title="Slider et texte">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 50 1 0;">
                        <i class="pb-img fas fa-image"></i>
                        <i class="pb-img fas fa-image"></i>
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 50 1 0;">
                        <div class="pb-title-line mb-2"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="iconbox"
                    data-action="click->page-builder#addBlockFromLibrary"
                    title="Grille d'icones">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                        <div class="pb-title-line"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="ticketing"
                    data-action="click->page-builder#addBlockFromLibrary"
                    title="Grille billetterie">
                <div class="d-flex flex-wrap justify-content-center w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 0 0 25%;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 0 0 25%;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 0 0 25%;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="sidebar"
                    data-action="click->page-builder#addBlockFromLibrary">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar d-flex align-items-center justify-content-center" style="flex: 25 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 75 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="trio"
                    data-action="click->page-builder#addBlockFromLibrary">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-btn-line"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="cards"
                    data-action="click->page-builder#addBlockFromLibrary">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <div class="pb-text-line" style="width: 45%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-text-line" style="width: 40%;"></div>
                        <div class="pb-text-line"></div>
                        <div class="pb-btn-line mt-2"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="gallery-3"
                    data-action="click->page-builder#addBlockFromLibrary">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 33 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-btn-line"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-12">
            <button type="button"
                    class="pb-block-card"
                    data-block-type="template"
                    data-template-type="gallery-4"
                    data-action="click->page-builder#addBlockFromLibrary">
                <div class="d-flex flex-wrap w-100">
                    <div class="pb-columns-preset-layout-bar" style="flex: 100 1 100%;">
                        <div class="pb-title-line"></div>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 25 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 25 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 25 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                    <div class="pb-columns-preset-layout-bar" style="flex: 25 1 0;">
                        <i class="pb-img fas fa-image"></i>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>
