<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 600:400; animation: slide; autoplay: true; autoplay-interval : 2500 ">
    <div class="uk-slideshow-items">
        {% for item in items %}
            <div>
                <img src="{{ item.src }}" alt="{{ item.alt }}" uk-cover>
            </div>
        {% endfor %}
    </div>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
</div>
